<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">
  <title>Add Disease Information</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
  <h1>New Disease Information</h1>
  <div class="col-md-auto">
    <form th:object="${diseaseInformation}" th:action="@{/diseaseInformation/saveDiseaseInformation}" action="#" method="post">
      <div>
        <label th:text="Name" th:for="name"></label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="Name" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="'error-message'" ></span>

      </div>

      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label th:text="Illustration" th:for="illustration"></label>
        <input type="text" th:field="*{illustration}" class="form-control" placeholder="Illustration"/>
        <span th:if="${#fields.hasErrors('illustration')}" th:errors="*{illustration}" th:class="'error-message'"></span>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label th:text="Description" th:for="description"></label>
        <input type="text" th:field="*{description}" class="form-control" placeholder="Description"  />
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="'error-message'"></span>

      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label th:text="Doctor_ID" th:for="doctor.id"></label>
        <input type="text" th:field="*{doctor.id}" class="form-control" placeholder="ID_Doctor"  />
        <span th:if="${#fields.hasErrors('doctor.id')}" th:errors="*{doctor.id}" th:class="'error-message'"></span>

      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <input type="submit" class="btn btn-success" value="Save"/>
    </form>
  </div>
</div>
</body>
</html>