<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">
  <title>Add Doctor</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
  <h1>New Doctor</h1>
  <div class="col-md-auto">
    <form th:object="${doctor}" th:action="@{/doctor/saveDoctor}" action="#" method="post">
      <div>
        <label th:text="Name" th:for="name"></label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="Name" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="'error-message'" ></span>

      </div>

      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label th:text="Email" th:for="email"></label>
        <input type="text" th:field="*{email}" class="form-control" placeholder="Email"/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="'error-message'"></span>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label th:text="Address" th:for="address"></label>
        <input type="text" th:field="*{address}" class="form-control" placeholder="Address"  />
        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:class="'error-message'"></span>

      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <input type="submit" class="btn btn-success" value="Save"/>
    </form>
  </div>
</div>
</body>
</html>