<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">
  <title>Add Medical Bill Detail</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
  <h1>New Medical Bill Detail</h1>
  <div class="col-md-auto">
    <form th:object="${medicalBillDetail}" th:action="@{/medicalBillDetail/saveMedicalBillDetail}" action="#" method="post">
      <div>
        <label th:text="MedicalBill_ID" th:for="medicalBill.id"></label>
        <input type="text" th:field="*{medicalBill.id}" class="form-control" placeholder="ID_MedicalBill" />
        <span th:if="${#fields.hasErrors('medicalBill.id')}" th:errors="*{medicalBill.id}" th:class="'error-message'" ></span>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label th:text="Request_DateTime" th:for="datetime"></label>
        <input type="text" th:field="*{datetime}" class="form-control" placeholder="Request DateTime" />
        <span th:if="${#fields.hasErrors('datetime')}" th:errors="*{datetime}" th:class="'error-message'" ></span>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label th:text="ID_Drug" th:for="drug.id"></label>
        <input type="text" th:field="*{drug.id}" class="form-control" placeholder="ID_Drug"  />
        <span th:if="${#fields.hasErrors('drug.id')}" th:errors="*{drug.id}" th:class="'error-message'"></span>

      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <input type="submit" class="btn btn-success" value="Save"/>
    </form>
  </div>
</div>
</body>
</html>