<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="UTF-8">
  <title>Edit Medical Bill</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
  <h1>Edit Medical Bill</h1>
  <form th:object="${medicalBill}" th:action="@{/medicalBill/saveMedicalBill}" action="#" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
      <label th:text="ID_Patient" th:for="patient.id"></label>
      <input type="text" th:field="*{patient.id}" class="form-control"/>
    </div>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>
      <label th:text="Date_Request" th:for="requestDate"></label>
      <input type="text" th:field="*{requestDate}" class="form-control"/>
    </div>
    <div style="clear: both; display: block; height: 10px"></div>
    <div>
      <label th:text="ID_Doctor" th:for="doctor.id"></label>
      <input type="text" th:field="*{doctor.id}" class="form-control"/>
    </div>
    <div style="clear: both; display: block; height: 10px"></div>
    <input type="submit" class="btn btn-success" value="Save"/>
  </form>
</div>
</body>
</html>